---
layout: home
title: Adam Waselnuk - Front End Developer
---

<div class="masthead layout-mag-left">
  <h1 class="title">Adam Waselnuk</h1>
  <div class="subtitle">Front End Developer</div>
  <div class="intro">
    Writing or thinking about JavaScript, Ruby, CSS, Music, and Ludology.<br>
    Based in Ottawa, Canada.
  </div>
</div>

<div class="layout-mag-right">
  <main>

    <div class="row">
      <!-- Featured Project -->
      <div class="col-50">
        <h2>Featured Project</h2>
        <img src="http://38.media.tumblr.com/c1d54d06da841f3c943783e95c45073b/tumblr_nao0z4k3zO1qzw1qyo1_500.gif" alt="placeholder">
        <div class="read-all"><a href="/projects.html">all projects &raquo;</a></div>
      </div>

      <!-- Freshest Experiment -->
      <div class="col-50">
        <h2>An Experiment</h2>
        <img src="http://38.media.tumblr.com/a7c1fb8071e4f9dfa12a9a40b90879c2/tumblr_n85aner12e1qzw1qyo1_500.gif" alt="placeholder">
        <div class="read-all"><a href="/experiments.html">all experiments &raquo;</a></div>
      </div>
    </div><!-- .row -->

    <div class="clearfix">
      <br><br>
      <!-- Latest Blog Posts -->
      <h2>Latest Blog Posts</h2>
      <ul class="posts list-reset">
        {% for post in site.posts %}
          <li class="post">
            <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p class="date">{{ post.date | date_to_string }}</p>
            <p class="post-excerpt">{{ post.excerpt }} <a class="read-more" href="{{ post.url }}">read more ...</a></p>
          </li>
        {% endfor %}
      </ul>
      <div class="read-all"><a href="/posts.html">all blog posts &raquo;</a></div>
    </div>
  </main>

  {% include footer.html %}

</div>

