---
layout: home
title: Adam Waselnuk - Front End Developer
---

<div class="masthead layout-mag-left">
  <h1 class="title">Adam Waselnuk</h1>
  <div class="subtitle">Front End Developer</div>
  <div class="intro">
    Writing or thinking about JavaScript, Ruby, CSS, Music, and Ludology.<br>
    Based in Ottawa, Canada.
  </div>
</div>

<div class="layout-mag-right">
  <main>

    <div class="row">

      <!-- Featured Project -->
      <div class="col-50">
        <div class="read-all"><a href="/projects">all projects &raquo;</a></div>
        <h2>Featured Project</h2>
        <img src="http://38.media.tumblr.com/c1d54d06da841f3c943783e95c45073b/tumblr_nao0z4k3zO1qzw1qyo1_500.gif" alt="placeholder">
      </div>

      <!-- Freshest Experiment -->
      <div class="col-50">
        <div class="read-all"><a href="/projects">all experiments &raquo;</a></div>
        <h2>An Experiment</h2>
        <img src="http://38.media.tumblr.com/a7c1fb8071e4f9dfa12a9a40b90879c2/tumblr_n85aner12e1qzw1qyo1_500.gif" alt="placeholder">
      </div>
    </div><!-- .row -->

    <div class="clearfix">
      <br><br>
      <!-- Latest Blog Posts -->
      <div class="read-all"><a href="/posts">all blog posts &raquo;</a></div>
      <h2>Latest Blog Posts</h2>
      <ul class="posts list-reset">
        {% for post in site.posts %}
          <li class="post">
            <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p class="post-date">{{ post.date | date_to_string }}</p>
            <p class="post-excerpt">{{ post.excerpt }}</p>
          </li>
        {% endfor %}
        <li>
          <h3><a href="#">Sample Title</a></h3>
          <p>July 20, 2015</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamaco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </li>
        <li>
          <h3><a href="#">Sample Title</a></h3>
          <p>July 20, 2015</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </li>
        <li>
          <h3><a href="#">Sample Title</a></h3>
          <p>July 20, 2015</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </li>
        <li>
          <h3><a href="#">Sample Title</a></h3>
          <p>July 20, 2015</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </li>
        <li>
          <h3><a href="#">Sample Title</a></h3>
          <p>July 20, 2015</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </li>
        <li>
          <h3><a href="#">Sample Title</a></h3>
          <p>July 20, 2015</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </li>

      </ul>
    </div>
  </main>

  {% include footer.html %}

</div>

