---
layout: home
title: Adam Waselnuk - Front End Developer
---

<div class="masthead layout-mag-left layout-mag-alt-image">
  <div class="add-gutter">
    <h1 class="title lowlight">Blog Posts</h1>
    <div class="subtitle masthead-subtitle">Hand written by yours truly.</div>
    <p class="intro masthead-intro">
      Hand written by yours truly
    </p>
  </div>
</div>

<div class="layout-mag-right">
  <nav class="nav-small padded"><a href="/">&#8592; Back Home</a></nav>
  <main>
    <!-- All posts -->
    <ul class="posts list-reset">
      <ul class="posts list-reset">
        {% for post in site.posts %}
          <li class="post">
            <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p class="date">{{ post.date | date_to_string }}</p>
            <p class="post-excerpt">{{ post.excerpt }} <a class="read-more" href="{{ post.url }}">read more ...</a></p>
          </li>
        {% endfor %}
      </ul>
    </ul>
    <hr>
    <strong>More blog posts coming soon!</strong>
  </main>

  {% include footer.html %}

</div>

