---
layout: home
title: Adam Waselnuk - Front End Developer
---

<div class="masthead layout-mag-left layout-mag-alt-image">
  <div class="add-gutter">
    <h1 class="title lowlight">Projects</h1>
    <p class="intro masthead-intro">
      Coming soon: A D&amp;D 5th edition encounter builder built with Elm.
    </p>
  </div>
</div>

<div class="layout-mag-right">
  <nav class="nav-small padded"><a href="/">&#8592; Back Home</a></nav>
  <main>
    <!-- All Projects -->
    <ul class="projects list-reset">
      {% assign projects = site.projects | sort: 'date' | reverse %}
      {% for project in projects %}
        <li class="project">
          <div class="media clearfix">
            <div class="media-left">
              <a href="{{ project.url }}">
                <img class="project-cover" src="img/posts/mobile/{{ project.cover }}" alt="{{ project.title }}">
              </a>
            </div>
          <div class="media-right">
            <a href="{{ project.url }}"><h3 class="project-title">{{ project.title }}</h3></a>
            <p class="date">{{ project.date | date_to_string }}</p>
            <p class="project-excerpt">{{ project.excerpt }} <a class="read-more" href="{{ project.url }}">read more ...</a></p>
          </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    <hr>
    <strong>More projects coming soon!</strong>
  </main>

  {% include footer.html %}

</div>

