* {
  box-sizing: border-box;
}

// Rules for when Typekit fonts are loading
.wf-loading {
  // Hide content and show a funny pic or something.
}

img {
  max-width: 100%;
}

footer {
  margin-bottom: $lHeight;
}

.nav-small {
  margin-bottom: $lHeight;
}

