// LAYOUT AND GRID
$gutter: $lHeight / 2;

.container {
  margin: 0 auto;
  max-width: 36rem;
}

.row{
  margin-left: -$gutter;
  margin-right: -$gutter;
  margin-bottom: $lHeight;
}

// All Columns
.col-50 {
  position: relative;
  min-height: 1px;
  padding-left: $gutter;
  padding-right: $gutter;
  margin-bottom: $lHeight * 2;
  @media (min-width: $screen-md) {
    float: left;
    margin-bottom: 0;
  }
}

.col-50 {
  @media (min-width: $screen-md) {
    width: 50%;
  }
}




