// Styles specific to home page

// Magazine layout for home page
.layout-mag-left{
  padding: $lHeight;
  background: url(../img/homepage.jpg) no-repeat center center fixed;
  background-size: cover;
  @media (min-width: $screen-md){
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    color: darken(#0A6371, 10%);
  }
}

.layout-mag-right{
  padding: $lHeight;
  @media (min-width: $screen-md){
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    width: 50%;
  }
}


.layout-home{
  h2 {
    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }
  .title{
    font-size: $fs-2;
    line-height: 1;
  }
  .intro{
    margin-top: $lHeight * 2;
  }
  .read-all {
    float: right;
    a {
      padding: 0.25em 0.5em;
      background: $gray;
      line-height: 30px;
      color: #fff;
      font-size: $fs-6;
      text-decoration: none;
    }
  }
}
