// Styles specific to home page

.masthead {
  position: relative;
}

.project-line {
  position: absolute;
  left: 0;
  bottom: 38.2%;
  color: $white;
}

.project-block-content,
.project-block-content:hover,
.project-block-content:active,
.project-block-content:visited,
.project-line-link,
.project-line-link:hover,
.project-line-link:active,
.project-line-link:visited {
  color: $white;
}

.project-block-container {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 38.2%;
}

.project-block {
  flex: 1 1 50%;
  position: relative;
  display: block;
  height: 100%;
}

.project-block-image {
  @include background-cover;
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  z-index: 1;
}

.project-block-title,
.project-block-description {
  margin: 0;
}

.project-block-content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding-top: $lHeight; 
  color: $white;
  text-decoration: none;
  transition: background-color 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.6);

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

// Magazine layout for home page
.layout-mag-left{
  padding-top: $lHeight;
  padding-bottom: $lHeight;
  background-color: #444;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../img/space-station.jpg');

  @media (min-width: $screen-sm) {
    min-height: 600px;
    padding-bottom: 0; 
    background-size: 100%;
  }

  @media (min-width: $screen-md){
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    color: darken(#0A6371, 10%);
    background-size: auto;
  }
}

.layout-mag-right{
  padding: $lHeight 0;
  @media (min-width: $screen-md){
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    width: 50%;
  }
}

.layout-mag-alt-image {
  background-image: url('../img/space-tree.jpg');
  @media (min-width: $screen-sm) {
    min-height: 0;
    padding-bottom: $lHeight;
  }
}

.masthead-title,
.masthead-subtitle,
.masthead-intro {
  color: $white;
}

.masthead-title{
  margin: 0;
  line-height: 1;
  @media (min-width: $screen-sm) {
    font-size: $fs-2;
  }
}

.masthead-intro{
  margin-top: $lHeight * 2;
  line-height: 1.2;
}

.layout-home{
  h2 {
    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }
  .read-all a {
    padding: 0.75em 1em;
    background: $gray;
    text-decoration: none;
    @media(min-width: $screen-md) {
      display: inline-block;
      padding: 0.25em 0.5em;

      line-height: 30px;
      color: #fff;
      font-size: $fs-6;

    }
  }
}

