// Styling Posts

.posts {
}

.date {
  margin-top: -1em;
  color: $gray;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.layout-default {
  .title {
    a {
      color: $black;
    }
  }
}

.post,
.project {
  margin-bottom: $lHeight;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.cover-image-square {
  display: inline-block;
  width: 100%;
  height: 40vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media (min-width: $screen-md) {
    height: 20vw;
  }
}

.media {
  @media (min-width: $screen-sm) {
    .media-left {
      max-width: 60%;
      // float: left;
    }
    .media-right {
    }
  }
}

.cover-mask {
  margin-bottom: $lHeight;
  @media (min-width: $screen-md) {
    margin-bottom: 0;
  }
}

.mental-models-callout {
  padding: $lHeight;
  border: 1px solid $dark-gray;
  background-color: $white-gray;

  p:first-child {
    margin-top: 0;
  }
}

.mc-email,
.mc-submit {
  padding: 10px;
  min-height: 44px;
}

.mc-email {
  margin-right: 10px;
}

.mc-submit {
  border: none;
  border: 1px solid $black;
  background-color: $blue;
  border-radius: 2px;
  color: white;
  min-height: 44px;
}
