<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Primary Meta Tags -->
    <title>Collaborate with Adam Waselnuk</title>
    <meta name="title" content="Collaborate with Adam Waselnuk" />
    <meta
      name="description"
      content="Hey, I'm Adam. I want to build cathedrals in the Metaverse."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://adamwaselnuk.com/collaborate/" />
    <meta property="og:title" content="Collaborate with Adam Waselnuk" />
    <meta
      property="og:description"
      content="Hey, I'm Adam. I want to build cathedrals in the Metaverse."
    />
    <meta property="og:image" content="/img/avatar-arch-card.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://adamwaselnuk.com/collaborate/"
    />
    <meta property="twitter:title" content="Collaborate with Adam Waselnuk" />
    <meta
      property="twitter:description"
      content="Hey, I'm Adam. I want to build cathedrals in the Metaverse."
    />
    <meta property="twitter:image" content="/img/avatar-arch-card.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="google-site-verification"
      content="QUdSAdhqpOzCienStnzmGSg7EztBh0uBXEvJXesX_uA"
    />
    <link rel="icon" href="/img/favicon.png" />
    <!-- Custom CSS -->
    {% include typekit.html %}
  </head>

  <body class="">
    <main>{{ content }}</main>

    <!-- Scripts -->
    <script src="/js/main.js"></script>
    {% include fathom_analytics.html %}
  </body>
</html>
