.highlight {
  padding: $lHeight / 2;
  font-size: $font-size-code;

  @media (min-width: $screen-sm + 60px) {
    margin-left: $lHeight * -2;
    margin-right: $lHeight * -2;
  }

  pre {
    margin: 0;
  }
}
